@{
    ViewBag.Title = "Nguyễn Thị Trà Mi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Lesson07 của Nguyễn Thị Trà Mi - Cam kết không đạo văn</h3>

    <address>
        K22CNT4 - Môn lập trình ứng web với công nghệ Asp.Net Mvc5 
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:traminguyen0304@gmail.com">traminguyen0304@gmail.com</a>
    </address>
</main>