@{
    ViewBag.Title = "Nguyễn Thị Trà Mi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Nttm-Lesson09</h3>

    <address>
       K22CNT4 - Môn lập trình ứng dụng web với công nghệ Asp.Net MVC 
    </address>

    <address>
        <strong>Cá nhân:</strong>   <a href="mailto:traminguyen0304@gmail.com">traminguyen0304@gmail.com</a><br />
    </address>
</main>