
@{
    ViewBag.Title = "Thông tin liên hệ";
}

<h3>@ViewBag.Message</h3>
<address>
    Phòng Research IT DEVMASTER - Tầng 6 tòa nhà VIỆN CÔNG NGHỆ - 25 Vũ Ngọc Phan,
    Láng Hạ, Đống Đa, Hà Nội<br />
    <abbr title="Phone">0978.611.889</abbr>
</address>
