
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab 1.2 </h1>
    <p>Tạo ứng dụng ASP.NET MVC 5 với yêu cầu sau:</p>
    <p>- Chọn template MVC và No Authentication</p>
    <p>- Tạo thêm một Action và View tương ứng với Action</p>
    <p>- Chỉnh sửa lại nội dung các View đã có</p>
</div>

