@{
    ViewBag.Title = "Nguyễn Thị Trà Mi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv </h3>
    <h3>@ViewBag.fullName </h3>

    <address>
        K22CNT4<br />
        - AspNet MVC5<br />
        <abbr title="Phone">P:</abbr>
        0963225045
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@example.com">chungtrinhj@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>