
@{
    ViewBag.Title = "Index";
}

<h1>Bảng xếp hạng tháng 8</h1>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Tên bài hát</th>
            <th>Tải về</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Song", new { downloadLink = song.DownloadLink })">@song.Title - @song.Artist</a>
                    </td>
                    <td>
                        <a href="@Url.Content("~/Content/Songs/" + song.DownloadLink)" download>Tải về</a>
                    </td>
                </tr>
            }
    </tbody>
</table>


