USE [NttmK22CNT4Lesson11Db]
GO
/****** Object:  Table [dbo].[NttmCategory]    Script Date: 7/4/2024 9:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NttmCategory](
	[NttmID] [int] IDENTITY(1,1) NOT NULL,
	[NttmCateName] [nvarchar](50) NULL,
	[NttmStatus] [bit] NULL,
 CONSTRAINT [PK_NttmCategory] PRIMARY KEY CLUSTERED 
(
	[NttmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NttmProduct]    Script Date: 7/4/2024 9:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NttmProduct](
	[NttmID2210900041] [int] NOT NULL,
	[NttmProName] [nvarchar](50) NULL,
	[NttmQty] [int] NULL,
	[NttmPrice] [float] NULL,
	[NttmCateId] [int] NULL,
	[NttmActive] [bit] NULL,
 CONSTRAINT [PK_NttmProduct] PRIMARY KEY CLUSTERED 
(
	[NttmID2210900041] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NttmCategory] ON 

INSERT [dbo].[NttmCategory] ([NttmID], [NttmCateName], [NttmStatus]) VALUES (1, N'2210900041', 1)
INSERT [dbo].[NttmCategory] ([NttmID], [NttmCateName], [NttmStatus]) VALUES (2, N'Iphone', 0)
SET IDENTITY_INSERT [dbo].[NttmCategory] OFF
GO
INSERT [dbo].[NttmProduct] ([NttmID2210900041], [NttmProName], [NttmQty], [NttmPrice], [NttmCateId], [NttmActive]) VALUES (1, N'Iphone 15Pro', 1, 2000, 1, 1)
INSERT [dbo].[NttmProduct] ([NttmID2210900041], [NttmProName], [NttmQty], [NttmPrice], [NttmCateId], [NttmActive]) VALUES (221090041, N'Nguyễn Thị Trà Mi', 10, 10000, 1, 1)
GO
ALTER TABLE [dbo].[NttmProduct]  WITH CHECK ADD  CONSTRAINT [FK_NttmProduct_NttmCategory] FOREIGN KEY([NttmCateId])
REFERENCES [dbo].[NttmCategory] ([NttmID])
GO
ALTER TABLE [dbo].[NttmProduct] CHECK CONSTRAINT [FK_NttmProduct_NttmCategory]
GO
