@{
    ViewBag.Title = "Nguyễn Thị Trà Mi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h2>Mã số : 2210900041</h2>
    <h2>Ngày sinh: 03/04/2004</h2>
    <h3>@ViewBag.Message</h3>

    <address>
       Lớp : K22CNT4
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:traminguyen0304@gmail.com">traminguyen0304@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>