
@{
    ViewBag.Title = "Giới thiệu";
}

<h2>Thông tin liên hệ</h2>
<p>Họ và tên: Nguyễn Thị Trà Mi</p>
<p>Lớp: K22CNT4</p>
<p>Trường: Đại học Nguyễn Trãi</p>
<p>Email: traminguyen0304@gmail.com</p>

