
@{
    ViewBag.Title = "Hình ảnh";
}

<h2>Một số hình ảnh</h2>
<img src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2024/02/z5182119211277_3412660e67668cd877d579bc99ab19a3-1.jpg"/>
<img src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2024/03/z5256742142185_e824302935d54f222c98babe01c2268d.jpg"/>

