
@{
    ViewBag.Title = "Trang chủ";
}

<h2>Thông tin trường học</h2>
<p>Tên trường: Đại học Nguyễn Trãi</p>
<p>Địa chỉ: 28A Lê Trọng Tấn, Hà Đông, Hà Nội</p>
<img src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2024/03/logo.png"/>

