@model List<string>
@{
    ViewBag.Title = "NttmIndex";
}

<h2>Photo Album</h2>
<!-- Upload Form -->
@using (Html.BeginForm("NttmUpload", "NttmPhotoAlbum", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
}

<!-- Display Images -->
<div>
    @foreach (var imageUrl in Model)
    {
        <div style="float: left; margin: 10px;">
            <img src="@imageUrl" alt="Image" style="width: 200px; height: 200px;" />
            <br />
            @Html.ActionLink("Xóa", "NttmDelete", new { fileName = Path.GetFileName(imageUrl) })
        </div>
    }
</div>